# Python artifacts
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env

# uv
uv/

# Virtual environments
.venv/
env/
venv/
__pypackages__/

# Docker
*.pid
*.sock
docker-compose.override.yml

# IDEs
.vscode/
.idea/
.DS_Store

# Test and coverage
htmlcov/
.tox/
.coverage
coverage.xml
pytest_cache/

# Local development
.env.*
